SUBSYSTEM=="tty", ENV{ID_PATH}=="@PDIST_ID_PATH@", ATTRS{idVendor}=="1a86", ATTRS{idProduct}=="7523", SYMLINK+="powertrain-pdist80b", GROUP="dialout", MODE="0660"
